/* RESET */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  background:#fff;
}

/* ================= HEADER ================= */
.top-bar{
  width:100%;
  height:90px;
  background:linear-gradient(to right,#000,#8b0000);
  display:flex;
  align-items:center;
  justify-content:center;
}

.logo{
  height:70px;
}
.shop-btn{
  display:inline-block;
  margin-top:18px;
  padding:14px 38px;
  background:#fff;
  color:#e00000;
  font-weight:800;
  font-size:18px;
  border:2px solid #e00000;
  border-radius:14px;
  text-decoration:none;
  transition:.3s ease;
}

.shop-btn:hover{
  background:#e00000;
  color:#fff;
}

/* ================= HERO ================= */
.hero{
  padding:40px 20px;
  display:flex;
  justify-content:center;
}

.hero-card{
  width:100%;
  max-width:1100px;
  background:#fff;
  border-radius:24px;
  box-shadow:0 15px 40px rgba(0,0,0,.18);
  overflow:hidden;
}

/* IMAGE */
.hero-image{
  position:relative;
  width:100%;
  height:500px;
}

.hero-image img{
  width:100%;
  height:100%;
  object-fit:cover;
  display:block;
}

/* BUTTON ON IMAGE */
.hero-btn-overlay{
  position:absolute;
  left:32px;
  bottom:32px;
  z-index:10;
}

.hero-btn-overlay img{
  height:44px;
}

/* TEXT */
.hero-content{
  padding:28px 32px;
  text-align:center;
}

.hero-content h1{
  font-size:32px;
  margin-bottom:8px;
}

.hero-content p{
  color:#555;
  font-size:16px;
}

/* ================= DISCOUNT ================= */
..discount-badge{
  position:fixed;
  right:-34px;
  top:50%;
  transform:translateY(-50%) rotate(-90deg);
  background:linear-gradient(to right,#000,#8b0000);
  color:#fff;
  font-weight:700;
  padding:12px 34px;
  border-radius:20px 20px 0 0;
  z-index:999;
}
;
}

/* ================= MOBILE ================= */
@media(max-width:768px){
  .hero-image{
    height:360px;
  }

  .hero-content h1{
    font-size:22px;
  }

  .logo{
    height:55px;
  }

  .hero-btn-overlay img{
    height:36px;
  }
}
}
