*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  background:#fff;
}

/* HEADER */
.top-bar{
  height:90px;
  background:linear-gradient(to right,#000,#8b0000);
  display:flex;
  align-items:center;
  justify-content:center;
}

.logo{
  height:70px;
}

/* HERO */
.hero{
  padding:60px 20px;
  display:flex;
  justify-content:center;
}

.hero-card{
  width:100%;
  max-width:900px;
  background:#fff;
  border-radius:22px;
  box-shadow:0 15px 40px rgba(0,0,0,.2);
  overflow:hidden;
}

/* IMAGE */
.hero-image{
  position:relative;
  width:100%;
  height:520px;
}

.hero-image img{
  width:100%;
  height:100%;
  object-fit:cover;
  display:block;
}

/* زرار Shop Now */
.hero-btn{
  position:absolute;
  left:30px;
  bottom:30px;
  background:#fff;
  padding:18px 28px;
  border-radius:999px;
  box-shadow:0 8px 20px rgba(0,0,0,.3);
}

.hero-btn img{
  height:48px;
  display:block;
}

/* TEXT */
.hero-content{
  padding:28px;
  text-align:center;
}

.hero-content h1{
  font-size:32px;
  margin-bottom:6px;
}

.hero-content p{
  color:#555;
}

/* MOBILE */
@media(max-width:768px){
  .hero-image{
    height:360px;
  }

  .hero-btn img{
    height:40px;
  }

  .logo{
    height:55px;
  }
}
