/* RESET */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

/* ======================
   TOP HEADER
====================== */
.top-bar{
  width:100%;
  height:110px;
  background: linear-gradient(
    to right,
    #000000 0%,
    #1a0002 30%,
    #6b0d12 65%,
    #b11217 100%
  );
  display:flex;
  align-items:center;
  justify-content:center;
}

.logo{
  height:110px;
  max-width:100%;
  object-fit:contain;
}

@media (max-width: 768px){
  .logo{
    height:60px;
  }
}


@media (max-width: 768px){
  .logo{
    height:60px;
  }
}

/* ======================
   SIDE OFFER (RIGHT)
====================== */
.side-offer{
  position:fixed;
  right:0;
  top:50%;
  transform:translateY(-50%);
  width:48px;
  height:200px;
  background: linear-gradient(
    to bottom,
    #000000,
    #1a0002,
    #6b0d12,
    #b11217
  );
  border-radius:16px 0 0 16px;
  display:flex;
  align-items:center;
  justify-content:center;
  z-index:999;
}

/* TEXT ROTATION */
.side-offer span{
  color:#ffffff;
  font-size: 26px;
font-weight: 700;
letter-spacing: 1px;

  transform:rotate(-90deg);
  white-space:nowrap;
}

/* HOVER */
.side-offer:hover{
  filter:brightness(1.15);
}

/* MOBILE */
@media (max-width: 768px){
  .side-offer{
    display:none;
  }
}


  .top-bar{
    height:90px;
  }

  .logo{
    height:55px;
  }
}
