*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  body{
  background:#fff;
  min-height:100vh;
}

  background:#ffffff;
}

/* ===== HEADER ===== */
.hero-header{
  width:100%;
  height:160px;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(to right, #000, #8b0000);
  position:relative;
  z-index:10;
}

.logo{
  height:130px;
  width:auto;
}

/* ===== HERO ===== */
..hero{
  width:100%;
  padding:40px 0;
  display:flex;
  justify-content:center;
}


..hero-card{
  max-width:1000px;
  width:90%;
  margin:0 auto;
}


/* IMAGE */
.hero-img-wrap{
  position:relative;
}

.hero-img-wrap img{
  width:100%;
  display:block;
}

/* BUTTON OVER IMAGE */
..hero-btn-overlay{
  position:absolute;
  bottom:16px;
  left:16px;

  background:#fff;
  color:#e60000;
  font-weight:700;
  padding:8px 20px;
  border-radius:30px;
  border:2px solid #e60000;
  text-decoration:none;

  box-shadow:0 4px 12px rgba(0,0,0,0.4);
}


/* TEXT */
.hero-text{
  padding:20px;
}

.hero-text h1{
  font-size:32px;
  margin-bottom:8px;
}

.hero-text p{
  font-size:18px;
  color:#444;
}

/* ===== MOBILE ===== */
@media (max-width:768px){
  .logo{
    height:90px;
  }

  .hero-btn-overlay{
    bottom:12px;
    left:12px;
    font-size:14px;
    padding:8px 18px;
  }

  .hero-text h1{
    font-size:24px;
  }

  .hero-text p{
    font-size:16px;
  }
}.discount-badge{
  position:fixed;
  right:0;
  top:50%;
  transform:translateY(-50%) rotate(-90deg);

  background:linear-gradient(to right,#000,#8b0000);
  color:#fff;
  font-weight:700;
  padding:10px 24px;
  border-radius:20px 20px 0 0;
  z-index:20;
}

